.container {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contentWrapper {
  width: 80%;
  min-width: 800px;
  max-width: 1200px;
  margin-top: 20px;
}

.inputRow {
  margin-bottom: 20px;
  justify-content: center;
}

.columnHeader {
  text-align: center;
}
.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
}
.grid li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
