.container {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contentWrapper {
  width: 90%;
  min-width: 800px;
  max-width: 1600px;
  margin-top: 20px;
  align-items: flex-start;
}

.inputRow {
  margin-bottom: 20px;
  justify-content: center;
}

.columnHeader {
  text-align: center;
}
.column {
  flex: 1;
  /* display: grid; */
  /* gap: 10px; */
  background-color: #f0f0f0;
  /* border-radius: 8px; */
  /* padding: 16px; */
  margin-right: 10px;
  max-width: 500px;
  /* min-height: 300px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow-y: auto; */
}
.listItems {
  display: grid;
  gap: 16px;
}
li {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
li:hover {
  background-color: #e8cfcf;
}
